{% extends 'store/main.html' %}
{% load static %}
{% block content %}
    <div class="d-flex justify-content-center mt-5">
        <div class="border rounded-2 border-3 w-25 bg-primary text-center">
            <h3 class="text-white">Контакты:</h3>
            <p class="text-white">Адрес: г. Псков, Яна Фабрициуса, д. 28</p>
            <p class="text-white">Телефон: +7921-000-00-00</p>
            <p class="text-white">Почта: mebel@mebel.ru</p>
            <p class="text-white">Разработчик: Двоскин Андрей Дмитриевич</p>
        </div>
    </div>
{% endblock content %}