{% extends 'store/main.html' %}
{% load static %}
{% block content %}
    <div class="d-flex justify-content-center mt-5">
        <div class="border rounded-2 border-3 w-25 bg-primary text-center">
            <p><a href="https://pskov.yourroom.ru" class="text-white"> Вашакомната</a></p>
            <p><a href="https://pskov.nadommebel.com" class="text-white">Nadommebel</a></p>
            <p><a href="https://domdivanov60.ru" class="text-white">Дом диванов</a></p>
        </div>
    </div>
{% endblock content %}