{% extends 'store/main.html' %}
{% load static %}
{% block content %}
    <h1>{{ title }}</h1>
    <hr/>
    <div>
        <h2>
            Видеоролик 1
        </h2>
        <video src="/media/production_id_3770034 (1080p).mp4" controls="controls" width="400" height="300" poster="/media/Снимок_экрана_2023-12-01_в_13.07.55.png"></video>
    </div>
    <hr/>
    <div>
        <h2>
            Видеоролик 2
        </h2>
        <video src="/media/production_id_3770034 (1080p).mp4" controls="controls" width="400" height="300" poster="/media/Снимок_экрана_2023-12-01_в_13.07.55.png"></video>
    </div>
{% endblock content %}